*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Poppins;
}

nav{
    background-color: #333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4rem;
}
a{
    text-decoration: none;
    color:#fff;
}

ul{
    display: flex;
    justify-content: space-between;
    margin-top: 1.2rem;
}
li{
    list-style: none;
}

li a{
    margin: 0 18px 0 18px;
    display: block;
    padding: 4px 6px;
    border-radius: 4px;
}

li a:hover{
    background-color: #fff;
    color: #333;
    

}
#logo{
    font-size: 2rem;
    font-weight: 600;
    margin-left: 18px;
    margin-top: 4px;
}
#menu{
    display: none;

}
h1{
    display: none;
    
}
@media screen and (max-width:498px){
    nav{
        flex-direction: column;
        height: 100%;
    }
    ul{
        flex-direction: column;
        display: none;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) .9s;
    }
    li{
        margin-bottom: 10px;
        margin-top: 10px;
    }
    li a{
        padding: 10px 10px ;
    }
    #menu{
        display:block;
        position: absolute;
        left:390px;
        top: 13px;
        cursor: pointer;
        height: 30px;
        width: 40px;
        display: none;
    }
    h1{
        color: #fff;
        font-weight: lighter;
        cursor: pointer;
        display: block;
        position: absolute;
        margin-left: 390px;
        float: right;
        margin-top: 8px;
    }
    .child{
        height: 6px;
        width: 40px;
        margin-bottom: 4px;
        background-color: #fff;
    }
}

